<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>aboutPage</title>
	<link rel="stylesheet" type="text/css" href="about.css">
</head>
<body>
	<ul>
		<li>Welocom to MyFood</li>
		<li>Here we will serve you the worlds best food</li>
		<li>You get here Indian, Italian, Arabian, chineese and so many type of different food</li>
		<li>Our Servives are worlds best services</li>
	</ul>
	<style type="text/css">
		*{
	background-color: black;
	color: gold;
	font-size: 20px;
}
	</style>
</body>
</html>