<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>food</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home2.css')}}">
</head>
<body>

  <div class="main">
    <div class="wrapper">
      <div class="header">
        <nav>
          <div class="logo">
            <a href="">MyFood</a>
          </div>
          <div class="center">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="">Food</a></li>
          <li><a href="https://blhahah.blogspot.com/2021/09/loop-statements-in-python-introduction-1">Blog</a></li>
          <li><a href="">Service</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="home2">Sign in</a>
              <ul>
               <li><a href="#">Login</a></li>
               <li><a href="#">LogOut</a></li>
             </ul>
          </li> 
        </ul>

      </div>
        </nav>
       <div class="over">
          <div class="content">
          <h1>Welcome to MyFood</h1>
          <p>Here you will get different types of food like Italian, Indian, Arabian, chinees etc. 
            Our services are Worlds best service. We will deliver your order within 30 minuits......
        </p>
        <button>Order Now</button>
        </div>
       </div>
      </div>
    </div>
 
</body>
</html>